<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nieuws</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

<h1>Daily News</h1>

<% news.forEach(article => { %>

<div class="article">

<a href="/news/<%= article.slug %>">
<%= article.title %>
</a>

<div class="date">
<%= article.date %>
</div>

</div>

<% }) %>

<a class="addlink" href="/add">Artikel toevoegen</a>

</div>

</body>
</html>
